.classpath
.settings
.vlt
.dir/
*.dir/
.merge_file*
/content/target/
/bundle/target/
/.idea
._.DS_Store
.DS_Store
/target
content/src/main/content/META-INF/vault/definition/.content.xml
content/src/main/content/META-INF/vault/properties.xml
content/src/main/content/jcr_root/apps/group/install
*.base
*.mine
*.theirs
*.orig
*.tmp
*.userlibraries
bundle/.project
content/.project
*.iml
*.eml
*.swp
content/node
content/node_modules
.project
.settings/
.gitignore