/*************************************************************************
 *
 * ADOBE CONFIDENTIAL
 * __________________
 *
 *  Copyright 2012 Adobe Systems Incorporated
 *  All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 **************************************************************************/

/* Reload button */
#CQ #cq-launches-reload-button {
    float: right;
    margin-right: 3px;
}

#CQ #cq-launches-reload-button .cq-launches-reload-icon {
    background-image: url(../../../widgets/wcm/Sidekick/reload.png);
}

/* Grid's row classes */
#CQ #cq-launches-gridpanel .x-grid3-row-current div.x-grid3-cell-inner {
    font-weight: bold;
}
.highlight {
    background-color: #FFFF88;
}